.hrte {
	border: 1px solid rgba(10, 10, 10, 0.1);
	box-sizing: border-box;
	border-radius: 0.6em;
}

.hrte-content {
	box-sizing: border-box;
	height: 20em;
	overflow-y: auto;
	padding: 0.6em;
	background: rgba(0,0,0,0.05);
}

.hrte-toolbar {
	background-color: #FFF;
	border-bottom: 1px solid rgba(10, 10, 10, 0.1);
	border-radius: 0.3em;
}

.hrte-button {
	all: unset;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	line-height: 2.5em;
	min-width: 1.5em;
	padding-inline: 0.5em;
}

.hrte-button > * {
	vertical-align: middle
}

.hrte-button-selected {
	background-color: #d8d8d8;
}

.hrte-button-separator {
	display: inline-block;
	line-height: 1.5em;
	border-left: #ccced1 solid 1px;
	margin-inline: 0.3em;
}