.hrte {
	position: relative;
	border: 1px solid rgba(10, 10, 10, 0.1);
	box-sizing: border-box;
	border-radius: 0.6em;
}

.hrte-content {
	box-sizing: border-box;
	height: 20em;
	overflow-y: auto;
	padding: 0.6em;
	background: rgba(0,0,0,0.05);
	border: solid 1px rgba(0,0,0,0.2);
	border-radius: 7px;
}

.hrte-toolbar {
	background-color: #FFF;
	border-bottom: 1px solid rgba(10, 10, 10, 0.1);
	border-radius: 0.3em;
}

.hrte-button {
	all: unset;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	line-height: 2.5em;
	min-width: 1.5em;
	padding-inline: 0.5em;
}

.hrte-button > * {
	vertical-align: middle
}

.hrte-button-selected {
	background-color: #d8d8d8;
}

.hrte-button-separator {
	display: inline-block;
	line-height: 1.5em;
	border-left: #ccced1 solid 1px;
	margin-inline: 0.3em;
}

.hrte-dropDown {
	max-height: 20em;
	overflow: auto;
	display: inline-block;
	position: absolute;
	transition: opacity 0.5s;
	opacity: 0;
	pointer-events: none;
	background: #eeeeee;
	border: 1px #ccced1 solid;
	border-radius: 0.3em;
	margin: 0.3em;
	padding: 0.3em;
}

.hrte-dropDown-open {
	opacity: 1;
	pointer-events: all;
}

.hrte-dialog {
	max-height: 20em;
	overflow: auto;
	display: inline-block;
	position: absolute;
	transition: opacity 0.5s;
	opacity: 0;
	pointer-events: none;
	background: #eeeeee;
	border: 1px #ccced1 solid;
	border-radius: 0.3em;
	margin: 0.3em;
	padding: 0.3em;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%)
}

.hrte-dialog-open {
	opacity: 1;
	pointer-events: all;
}

.hrte-button2 {
	border: 1px #a7a7a7 solid;
	border-radius: 0.3em;
	padding: 0.1em;
	background: #d1d1d1;
	margin: 0.1em;
	margin-top: 0.3em;
	display: inline-block;
}

.hrte-list-item {
	margin-block: 5px;
	text-align: center;
}

.hrte-list-separator {
	height: 1px;
	background: #ccced1;
	width: 60%;
	margin-inline: 20%;
}

.hrte-panel-header {
	font-size: 1.5em;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

.resizable-container {
	resize: both;
	display: inline-block;
	overflow: auto
}

.hrte-grid {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
}

.hrte-grid-item {
	display: inline-block;
	padding: 0.1em;
	text-align: center;
	border: 1px solid #cccccc;
}

.hrte-content table {
	border: 1px solid black
}

.hrte-content td {
	border: 1px solid black;
	min-width: 0.6em
}

.hrte-content caption {
	border: 1px solid black;
}